<!DOCTYPE html>
<html>
<head>
    <title>NLQ to SQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form class="jumbotron container container-fluid" action="/result" method="POST">
        <!-- add the necessary input fields here-->
        <label for="random_text">here you go</label>
        <input type="text" name="random_text"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>