<!DOCTYPE html>
<html>
<head>
    <title>NLQ to SQL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div style="text-align: center" class="container jumbotron">
        <h1>Tables</h1>
        <p>Select a table for the model to work upon</p>
    </div>
    {% for table in context.tables %}
    <div class="container jumbotron">
        <a style="width :100%" href="/table/{{ table.id }}">
            <h3>{{ table.id }}</h3>
            <br>
            <h4>Headers:</h4>
            <p>
                {{ table.header }}
            </p>
        </a>
    </div>
    {% endfor %}
</body>
</html>